.card-anime {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 20px 30px rgba(206, 78, 78, 0.2);
    padding: 0;
    border-radius: 30px;
    max-width: 320px;
    height: 420px;
    overflow: hidden;
    cursor: pointer;
    background: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-anime:hover {
    transform: scale(1.05);
    box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
}

.img-anime {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    transition: filter 0.3s ease;
}

.card-anime:hover .img-anime {
    filter: blur(4px);
}

.card-anime::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    transition: background 0.3s ease;
}

.card-anime:hover::after {
    background: rgba(0, 0, 0, 0.5);
}

.details-anime {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    z-index: 3;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

.card-anime:hover .details-anime {
    opacity: 1;
    visibility: visible;
}

.details-anime h2, .details-anime h3, .synopsis-anime {
    margin: 3px 0;
    padding: 0;
}

.details-anime h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.title-japonese {
    font-size: 0.5rem;
}

.synopsis-anime {
    font-size: 0.9rem;
    color: #ddd;
    margin-top: 5px;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.buttons {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 0 15px;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.card-anime:hover .buttons {
    opacity: 1;
    visibility: visible;
}
