.banner-header-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: 0; 
    overflow: hidden; 
   
}

.banner-container {
    position: fixed; /* Fijo para que se quede en su lugar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-bottom: solid 2px #F08080;
    z-index: -1; /* Asegura que el banner esté detrás del contenido */
    
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 1; /* Asegura que el overlay esté encima del banner */
    
}

.img-vortex {
    position: absolute;
    left: 104px;
    top: -1.7rem;
    z-index: 3;
    display: flex;
    width: 20%;
    justify-content: space-between;
}

/* Estilos para los botones de navegación del carrusel */
.swiper-button-prev, .swiper-button-next {
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    font-size: 1.2rem;
}

/* Paginación Swiper */
.swiper-pagination-bullet {
    background-color: #fff;
}

.mySwiper {
    width: 100%;
    height: 100%;
}

.general {
    overflow-x: hidden;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1350px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

.container-search-page {
    overflow: hidden;
}


.swiper-pagination-bullet {
    background-color: #888; /* Color de los círculos inactivos */
  }
  
  .swiper-pagination-bullet-active {
    background-color:#F08080
  }