/* Estilos para MoviesByGenreComponent */
.container-moviesByGenre {
    max-width: 1330px;
    margin: 0 auto;
}



.mostWatched-genre-title {
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 0;
    color: #fff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease; /* Smooth transitions */
    margin-left: 2rem;
}

.mostWatched-genre-title:hover {
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }

.error-message {
    color: red;
    font-size: 1rem;
}

.no-movies-message {
    font-size: 1rem;
    color: #666;
}
