.container-landingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.mostWatched-media{
    display: flex;
    gap: 5rem;
    margin-left: 1rem;
}

.mostWatched-country{
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75rem;
}

.mostWatched-country-title{
    font-size: 3rem;
    color: #F08080;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */
}

.container-continueWatching{
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 4rem;
    text-align: center;
    height: 28rem;
}

.container-recently-adde{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    background-color: #2F3241;
    border-top: solid 2px #F08080;
}

.recently-added-title{
    font-size: 2.5rem;
    color: #F08080;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-bottom: solid #F08080;
    align-self: flex-start;
    margin-left: 10.5rem;
    margin-bottom: 0;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */
}

.continue-watiching-title{
    font-size: 2.5rem;
    color: #F08080;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-bottom: solid #F08080;
    align-self: flex-start;
    margin-left: 2rem;
    margin-bottom: 0;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */
}

.transition-css{
    transition: transform 0.3s ease, color 0.s ease, text-shadow 0.3s ease, letter-spacing 0.3s ease; /* Transiciones suaves */

}

.recently-added-title:hover {
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.continue-watiching-title:hover{
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.mostWatched-country-title:hover {
    transform: translateY(-5px); 
    color: #F08080;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 

}


