/* Define el ancho por defecto de la barra lateral */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70px; 
  background-color: #2f3241;
  gap: 2rem;
  border-right: 2px solid #f08080;
  z-index: 12;
  padding-top: 2rem;
  transition: width 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Expande la barra lateral al hacer hover */
.sidebar:hover {
  width: 266px; 
}

.container-buttonsAuthenticate-navbar{
  height: 20rem;
}

/* Contenedor para los iconos y el texto */
.icon-container {
  display: flex;
  align-items: center; 
  padding: 0 1rem;
  width: 100%;
  height: 40px;
  transition: opacity 0.3s ease-in-out;  
}

/* Alinea el texto y el icono dentro del contenedor */
.icon-container .button2 {
  margin-left: 1rem;
  color: #f08080;
  white-space: nowrap; 
  transition: opacity 0.3s ease-in-out; 
}

/* Oculta el texto en el estado normal */
.sidebar:not(:hover) .icon-container .button2 {
  opacity: 0;
}

/* Muestra el texto cuando la barra lateral está expandida */
.sidebar:hover .icon-container .button2 {
  opacity: 1;
}

/* Ajusta el estilo de los iconos y botones */
.icon-link,
.icon-link button {
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 50px; 
  height: 50px; 
  color: #f08080;
  background: transparent;
  border: none; 
  outline: none;
  cursor: pointer;
  margin-left: -6px; 
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición para color, transformación y sombra */
}

.icon-link:hover,
.icon-link button:hover {
  color: #ff6767;
  transform: scale(1.3);
}

/* Ajusta el estilo del botón de cierre de sesión */
.log-out {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 10px;
  cursor: pointer;
}

/* Estilo del botón de cierre de sesión */
.log-out button {
  background-color: transparent;
  color: #f08080;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transición para color y transformación */
}

/* Estilo del botón de cierre de sesión en hover */
.log-out button:hover {
  color: #ff6767;
  transform: scale(1.3);
}

/* Estilo del enlace de cierre de sesión */
.icon-link-logOut {
  display: flex;
  justify-content: center;
  color: #f08080;
  background-color: transparent;
  position: absolute;
  bottom: 3.5rem;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición para color, transformación y sombra */
}

/* Estilo del enlace de cierre de sesión en hover */
.icon-link-logOut:hover {
  color: #ff6767;
  transform: scale(1.3);
}
